<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://jakarta.apache.org/log4j/dtd/log4j.dtd" []>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->


<!-- $Id: log4j.xml /main/47 2014/02/10 19:19:21 ohorne Exp $ -->


<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->
  <appender name="LF5Appender" class="org.apache.log4j.lf5.LF5Appender">
      <param name="MaxNumberOfRecords" value="1000"/>
  </appender>

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="ERROR"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="[(%t)%l] %m%n%n"/>
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="log/ctas.log"/>
      <param name="Append" value="true"/>
      <param name="maxFileSize" value="10240KB"/>
      <param name="maxBackupIndex" value="20"/>
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d %-5r  (%t:%c):%n      [%l] %n      %m%n%n"/>
      </layout>
  </appender>

  
  <!-- ====================== -->
  <!-- More Appender examples -->
  <!-- ====================== -->

  <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
    <!--appender-ref ref="LF5Appender"/-->
  </appender>
   
</log4j:configuration>
